<launch>

  <rosparam command="load" file="$(find pal_sea_arm_controller_configuration)/config/joint_trajectory_controllers.yaml" />

  <!-- Set up controllers depending of arm existance -->
  <arg name="controller_list" value="arm_controller"/>

  <!-- Controllers that come up started -->
  <node name="default_controllers_spawner"
        pkg="controller_manager" type="spawner" output="screen"
        args="--timeout 120 $(arg controller_list)" />

</launch>
