<?xml version="1.0" encoding="UTF-8"?>
<!--

  Copyright (c) 2022 PAL Robotics S.L. All rights reserved.
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
      http://www.apache.org/licenses/LICENSE-2.0
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<robot xmlns:xacro="http://ros.org/wiki/xacro">

<!-- Transmissions file -->
<xacro:include filename="$(find tiago_sea_arm_description)/urdf/arm.transmission.xacro"/>

<!-- Joint Limits file -->
<xacro:include filename="$(find tiago_sea_arm_description)/urdf/arm.limits.xacro"/>


<!-- Constant parameters -->
<xacro:property name="arm_friction"       value="1.0" />
<xacro:property name="arm_damping"        value="1.0" />

<xacro:property name="arm_1_max_velocity"      value="1.95" />
<xacro:property name="arm_2_max_velocity"      value="1.95" />
<xacro:property name="arm_3_max_velocity"      value="2.35" />
<xacro:property name="arm_4_max_velocity"      value="2.35" />
<xacro:property name="arm_5_max_velocity"      value="2.35" />
<xacro:property name="arm_6_max_velocity"      value="2.35" />
<xacro:property name="arm_7_max_velocity"      value="2.35" />

<xacro:property name="arm_1_max_effort"   value="43.0" />
<xacro:property name="arm_2_max_effort"   value="43.0" />
<xacro:property name="arm_3_max_effort"   value="26" />
<xacro:property name="arm_4_max_effort"   value="26" />
<xacro:property name="arm_5_max_effort"   value="26" />
<xacro:property name="arm_6_max_effort"   value="26" />
<xacro:property name="arm_7_max_effort"   value="26" />

<xacro:macro name="tiago_sea_arm" params="name parent reflect *origin arm_1_offset arm_2_offset arm_3_offset arm_4_offset arm_5_offset arm_6_offset arm_7_offset no_safety_eps:=False">
  <xacro:property name="arm_eps"       value="${0.00 if no_safety_eps else 0.07}"/>

    <!-- ARM 1 LINK -->
    <link name="${name}_1_link">
      <inertial>
        <origin xyz="0.0049601 0.014951 0.13623" rpy="0 0 0" />
        <mass value="0.47419" />
        <inertia
          ixx="0.0011142"
          ixy="6.2177E-06"
          ixz="2.8021E-05"
          iyy="0.0011166"
          iyz="-8.9491E-05"
          izz="0.00055633" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://tiago_sea_arm_description/meshes/arm_1_link.STL" />
        </geometry>
        <material name="">
          <color rgba="0.75294 0.75294 0.75294 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://tiago_sea_arm_description/meshes/arm_1_link.STL" />
        </geometry>
      </collision>
    </link>
    <joint name="${name}_1_joint" type="revolute">
      <xacro:insert_block name="origin"/>
      <parent link="${parent}" />
      <child link="${name}_1_link" />
      <axis xyz="0 0 1" />
      <limit lower="${arm_1_joint_lb}" upper="${arm_1_joint_ub}" effort="${arm_1_max_effort}" velocity="${arm_1_max_velocity}" />
    </joint>
  
    <!-- ARM 2 LINK -->
    <link name="${name}_2_link">
      <inertial>
        <origin xyz="-0.018757 0.1146 -0.041335" rpy="0 0 0" />
        <mass value="0.41866" />
        <inertia
          ixx="0.00072176"
          ixy="4.2724E-05"
          ixz="-2.4828E-05"
          iyy="0.00044538"
          iyz="0.00011219"
          izz="0.00070205" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://tiago_sea_arm_description/meshes/arm_2_link.STL" />
        </geometry>
        <material name="">
          <color rgba="0.75294 0.75294 0.75294 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://tiago_sea_arm_description/meshes/arm_2_link.STL" />
        </geometry>
      </collision>
    </link>
  
    <!-- ARM 2 JOINT -->
    <joint name="${name}_2_joint" type="revolute">
      <origin xyz="0.04491 0.02 0.16009" rpy="1.5708 0 1.5708" />
      <parent link="${name}_1_link" />
      <child link="${name}_2_link" />
      <axis xyz="0 0 -1" />
      <limit lower="${arm_2_joint_lb}" upper="${arm_2_joint_ub}" effort="${arm_2_max_effort}" velocity="${arm_2_max_velocity}" />
    </joint>
  
    <!-- ARM 3 LINK -->
    <link name="${name}_3_link">
      <inertial>
        <origin xyz="-0.0049601 -0.014951 0.13627" rpy="0 0 0" />
        <mass value="0.47419" />
        <inertia
          ixx="0.0011142"
          ixy="6.2177E-06"
          ixz="-2.8021E-05"
          iyy="0.0011166"
          iyz="8.9491E-05"
          izz="0.00055633" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://tiago_sea_arm_description/meshes/arm_3_link.STL" />
        </geometry>
        <material name="">
          <color rgba="0.75294 0.75294 0.75294 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://tiago_sea_arm_description/meshes/arm_3_link.STL" />
        </geometry>
      </collision>
    </link>
  
    <!-- ARM 3 JOINT -->
    <joint name="${name}_3_joint" type="revolute">
      <!-- Mechanics provided {r p y} = {-1.5707 0 0} -->
      <origin xyz="-0.02 0.16991 -0.04491" rpy="${reflect * 1.5707} 0 ${(reflect + 1) * 0.5 * 3.1415}" />
      <parent link="${name}_2_link" />
      <child link="${name}_3_link" />
      <axis xyz="0 0 1" />
      <limit lower="${arm_3_joint_lb}" upper="${arm_3_joint_ub}" effort="${arm_3_max_effort}" velocity="${arm_3_max_velocity}" />
    </joint>
  
    <!-- ARM 4 LINK -->
    <link name="${name}_4_link">
      <inertial>
        <origin xyz="-0.018757 0.1146 -0.041335" rpy="0 0 0" />
        <mass value="0.41866" />
        <inertia
          ixx="0.00072176"
          ixy="4.2724E-05"
          ixz="-2.4828E-05"
          iyy="0.00044538"
          iyz="0.00011219"
          izz="0.00070205" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://tiago_sea_arm_description/meshes/arm_4_link.STL" />
        </geometry>
        <material name="">
          <color rgba="0.75294 0.75294 0.75294 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://tiago_sea_arm_description/meshes/arm_4_link.STL" />
        </geometry>
      </collision>
    </link>
  
    <!-- ARM 4 JOINT -->
    <joint name="${name}_4_joint" type="revolute">
      <origin xyz="-0.04491 -0.02 0.16009" rpy="1.5708 0 -1.5708" />
      <parent link="${name}_3_link" />
      <child link="${name}_4_link" />
      <axis xyz="0 0 -1" />
      <limit lower="${arm_4_joint_lb}" upper="${arm_4_joint_ub}" effort="${arm_4_max_effort}" velocity="${arm_4_max_velocity}" />
    </joint>
  
    <!-- ARM 5 LINK -->
    <link name="${name}_5_link">
      <inertial>
        <origin xyz="-0.0034877 0.0007088 0.10161" rpy="0 0 0" />
        <mass value="1.3606" />
        <inertia
          ixx="0.0042327"
          ixy="-1.4778E-06"
          ixz="-0.00015838"
          iyy="0.0039855"
          iyz="-6.3812E-05"
          izz="0.00090574" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://tiago_sea_arm_description/meshes/arm_5_link.STL" />
        </geometry>
        <material name="">
          <color rgba="0.75294 0.75294 0.75294 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://tiago_sea_arm_description/meshes/arm_5_link.STL" />
        </geometry>
      </collision>
    </link>
  
    <!-- ARM 5 JOINT -->
    <joint name="${name}_5_joint" type="revolute">
      <origin xyz="-0.02 0.16991 -0.04491" rpy="-1.5708 0 0" />
      <parent link="${name}_4_link" />
      <child link="${name}_5_link" />
      <axis xyz="0 0 1" />
      <limit lower="${arm_5_joint_lb}" upper="${arm_5_joint_ub}" effort="${arm_5_max_effort}" velocity="${arm_5_max_velocity}" />
    </joint>
  
    <!-- ARM 6 LINK -->
    <link name="${name}_6_link">
      <inertial>
        <origin xyz="-3.3166E-06 0.051142 -0.045664" rpy="0 0 0" />
        <mass value="0.87439" />
        <inertia
          ixx="0.0012166"
          ixy="-9.444E-08"
          ixz="2.4762E-09"
          iyy="0.00049327"
          iyz="7.1598E-05"
          izz="0.0013454" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://tiago_sea_arm_description/meshes/arm_6_link.STL" />
        </geometry>
        <material name="">
          <color rgba="0.75294 0.75294 0.75294 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://tiago_sea_arm_description/meshes/arm_6_link.STL" />
        </geometry>
      </collision>
    </link>
  
    <!-- ARM 6 JOINT -->
    <joint name="${name}_6_joint" type="revolute">
      <origin xyz="-0.0431 0 0.16509" rpy="1.5708 0 -1.5708" />
      <parent link="${name}_5_link" />
      <child link="${name}_6_link" />
      <axis xyz="0 0 1" />
      <limit lower="${arm_6_joint_lb}" upper="${arm_6_joint_ub}" effort="${arm_6_max_effort}" velocity="${arm_6_max_velocity}" />
    </joint>
  
    <!-- ARM 7 LINK -->
    <link name="${name}_7_link">
      <inertial>
        <origin xyz="-4.9961E-13 1.8172E-12 -0.030946" rpy="0 0 0" />
        <mass value="0.20434" />
        <inertia
          ixx="0.00011401"
          ixy="-2.6547E-15"
          ixz="-1.9524E-16"
          iyy="0.00011401"
          iyz="7.1031E-16"
          izz="0.00010539" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://tiago_sea_arm_description/meshes/arm_7_link.STL" />
        </geometry>
        <material name="">
          <color rgba="0.75294 0.75294 0.75294 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://tiago_sea_arm_description/meshes/arm_7_link.STL" />
        </geometry>
      </collision>
    </link>
  
    <!-- ARM 7 JOINT -->
    <joint name="${name}_7_joint" type="revolute">
      <origin xyz="0 0.135 -0.0431" rpy="1.5708 1.5708 0" />
      <parent link="${name}_6_link" />
      <child link="${name}_7_link" />
      <axis xyz="0 0 1" />
      <limit lower="${arm_7_joint_lb}" upper="${arm_7_joint_ub}" effort="${arm_7_max_effort}" velocity="${arm_7_max_velocity}" />
    </joint>
  
    <!-- TRANSMISSIONS -->
    <xacro:arm_simple_transmission name="${name}" number="1" reduction="1.0" offset_value="${arm_1_offset}"/>
    <xacro:arm_simple_transmission name="${name}" number="2" reduction="1.0" offset_value="${arm_2_offset}"/>
    <xacro:arm_simple_transmission name="${name}" number="3" reduction="1.0" offset_value="${arm_3_offset}"/>
    <xacro:arm_simple_transmission name="${name}" number="4" reduction="1.0" offset_value="${arm_4_offset}"/>
    <xacro:arm_simple_transmission name="${name}" number="5" reduction="1.0" offset_value="${arm_5_offset}"/>
    <xacro:arm_simple_transmission name="${name}" number="6" reduction="1.0" offset_value="${arm_6_offset}"/>
    <xacro:arm_simple_transmission name="${name}" number="7" reduction="1.0" offset_value="${arm_7_offset}"/>

  </xacro:macro>
</robot>
