<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="pal_sea_arm">
  
    <!-- Actuators -->
    <xacro:macro name="mj_arm_actuators" params="side arm_type wrist_model joint_reflect">

      <xacro:include filename="$(find pal_sea_arm_description)/urdf/arm/arm_limits/${arm_type}/arm.limits.xacro"/>
      <xacro:include filename="$(find pal_sea_arm_description)/urdf/arm/arm_limits/${arm_type}/${wrist_model}.limits.xacro"/>
      <xacro:include filename="$(find pal_sea_arm_description)/urdf/arm/arm_properties/${arm_type}/arm.properties.xacro"/>
      <xacro:include filename="$(find pal_sea_arm_description)/urdf/arm/arm_properties/${arm_type}/${wrist_model}.properties.xacro"/>

      <xacro:if value="${mj_control == 'motor'}">
        <motor name="${side}_1_joint_torque" joint="${side}_1_joint" ctrlrange="-46 46" />
        <motor name="${side}_2_joint_torque" joint="${side}_2_joint" ctrlrange="-46 46" />
        <motor name="${side}_3_joint_torque" joint="${side}_3_joint" ctrlrange="-46 46" />
        <motor name="${side}_4_joint_torque" joint="${side}_4_joint" ctrlrange="-46 46" />
        <motor name="${side}_5_joint_torque" joint="${side}_5_joint" ctrlrange="-46 46" />
        <motor name="${side}_6_joint_torque" joint="${side}_6_joint" ctrlrange="-46 46" />
        <motor name="${side}_7_joint_torque" joint="${side}_7_joint" ctrlrange="-46 46" />
      </xacro:if>
      <xacro:if value="${mj_control == 'position'}">
        <position name="${side}_1_joint_position" joint="${side}_1_joint" ctrlrange="${arm_1_joint_lb * deg_to_rad} ${arm_1_joint_ub * deg_to_rad}" kp="1000" kv="50"/>
        <position name="${side}_2_joint_position" joint="${side}_2_joint" ctrlrange="${arm_2_joint_lb * deg_to_rad} ${arm_2_joint_ub * deg_to_rad}" kp="1000" kv="60"/>
        <position name="${side}_3_joint_position" joint="${side}_3_joint" ctrlrange="${arm_3_joint_lb * deg_to_rad} ${arm_3_joint_ub * deg_to_rad}" kp="1000" kv="50"/>
        <position name="${side}_4_joint_position" joint="${side}_4_joint" ctrlrange="${arm_4_joint_lb * deg_to_rad} ${arm_4_joint_ub * deg_to_rad}" kp="500" kv="20"/>
        <position name="${side}_5_joint_position" joint="${side}_5_joint" ctrlrange="${arm_5_joint_lb * deg_to_rad} ${arm_5_joint_ub * deg_to_rad}" kp="1000" kv="20"/>
        <position name="${side}_6_joint_position" joint="${side}_6_joint" ctrlrange="${arm_6_joint_lb * deg_to_rad} ${arm_6_joint_ub * deg_to_rad}" kp="1000" kv="20"/>
        <position name="${side}_7_joint_position" joint="${side}_7_joint" ctrlrange="${arm_7_joint_lb * deg_to_rad} ${arm_7_joint_ub * deg_to_rad}" kp="500" kv="20"/>
      </xacro:if>
    </xacro:macro>
</robot>