<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!--Constant parameters-->
  <xacro:property name="arm_friction"       value="1.0" />
  <xacro:property name="arm_damping"        value="1.0" />


  <xacro:property name="arm_k_position" value="20"/>
  <xacro:property name="arm_k_velocity" value="20"/>

  <!-- TODO: Check these values -->


  <xacro:property name="arm_4_joint_ub" value="1.60868" />
  <xacro:property name="arm_4_joint_lb" value="-2.41302" />

  <xacro:property name="arm_5_joint_ub" value="2.54185" />
  <xacro:property name="arm_5_joint_lb" value="-2.54185" />

  <xacro:property name="arm_6_joint_ub" value="2.1562" />
  <xacro:property name="arm_6_joint_lb" value="-2.1562" />

  <xacro:property name="arm_7_joint_ub" value="1.3701" />
  <xacro:property name="arm_7_joint_lb" value="-3.6" />



  <xacro:property name="arm_1_max_velocity"      value="1.95" />
  <xacro:property name="arm_2_max_velocity"      value="1.95" />
  <xacro:property name="arm_3_max_velocity"      value="1.95" />
  <xacro:property name="arm_4_max_velocity"      value="1.95" />
  <xacro:property name="arm_5_max_velocity"      value="1.95" />
  <xacro:property name="arm_6_max_velocity"      value="1.95" />
  <xacro:property name="arm_7_max_velocity"      value="1.95" />

  <xacro:property name="arm_1_max_effort"   value="50" />
  <xacro:property name="arm_2_max_effort"   value="50" />
  <xacro:property name="arm_3_max_effort"   value="50" />
  <xacro:property name="arm_4_max_effort"   value="50" />
  <xacro:property name="arm_5_max_effort"   value="50" />
  <xacro:property name="arm_6_max_effort"   value="50" />
  <xacro:property name="arm_7_max_effort"   value="50" />

</robot>
