<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- File includes -->
  <xacro:include filename="$(find tiago_sea_arm_description)/urdf/deg_to_rad.xacro" />
  <xacro:include filename="$(find tiago_sea_arm_description)/urdf/arm/arm.transmission.xacro" />
  <xacro:include filename="$(find tiago_sea_arm_description)/urdf/arm/arm.limits.xacro" />
  <xacro:include filename="$(find tiago_sea_arm_description)/urdf/calibration_constants.urdf.xacro" />
  <!-- Constants -->

  <!-- ARM MACRO -->
  <!-- reflect: Set to 1 for a right arm, or to -1 for a left arm -->
  <xacro:macro name="tiago_sea_arm"
    params="name parent *origin reflect ft_sensor tiago_dual arm_1_offset arm_2_offset arm_3_offset arm_4_offset arm_5_offset arm_6_offset arm_7_offset no_safety_eps:=False">
    <xacro:property name="arm_eps" value="${0.00 if no_safety_eps else 0.07}" />

    <!-- BASE LINK -->
    <link name="${name}_base_link">
      <inertial>
        <origin xyz="0.010252 -2.0895E-06 -0.010085" rpy="0 0 0" />
        <mass value="0.41717" />
        <inertia
          ixx="0.00020772" ixy="6.9296E-09" ixz="3.5124E-08"
          iyy="0.00033949" iyz="-5.2354E-09"
          izz="0.00046362" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://tiago_sea_arm_description/meshes/base_link.STL" />
        </geometry>
        <material name="">
          <color rgba="0.75294 0.75294 0.75294 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://tiago_sea_arm_description/meshes/base_link.STL" />
        </geometry>
      </collision>
    </link>

    <joint name="${name}_base_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}" />
      <child link="${name}_base_link" />
    </joint>


    <!-- Arm link macro -->
    <link name="${name}_1_link">
      <inertial>
        <origin xyz="0.1046 -0.0136 ${-0.0310 * reflect}" rpy="0 0 0" />
        <mass value="0.8770" />
        <inertia ixx="6.0149E-04" ixy="8.3434E-05" ixz="${3.1716E-04 * reflect}"
                 iyy="1.8511E-03" iyz="${-2.4871E-05 * reflect}"
                 izz="1.6552E-03" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://tiago_sea_arm_description/meshes/arm/arm_1_link.STL"
            scale="1 1 ${reflect}" />
        </geometry>
        <material
          name="">
          <color
            rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://tiago_sea_arm_description/meshes/arm/arm_1_link_convex.STL"
            scale="1 1 ${reflect}" />
        </geometry>
      </collision>
    </link>

    <xacro:property name="arm_1_upper_limit"       value="${90.0 if tiago_dual == 1 else 180}"/>
    <xacro:property name="arm_1_lower_limit"       value="${-67.5 if tiago_dual == 1 else 0.0}"/>

    <joint name="${name}_1_joint" type="revolute">
      <origin xyz="0.0 0.0 0.02" rpy=" 0 ${(90 - 90 * reflect) * deg_to_rad } ${-90 * deg_to_rad}" />
      <parent link="${name}_base_link" />
      <child link="${name}_1_link" />
      <axis xyz="0 0 ${1}" />
      <limit lower="${arm_1_lower_limit * deg_to_rad}" upper="${arm_1_upper_limit * deg_to_rad}" effort="${arm_1_max_effort}" velocity="${arm_1_max_velocity}" />
      <dynamics friction="${arm_friction}" damping="${arm_damping}"/>
      <safety_controller k_position="${arm_k_position}" k_velocity="${arm_k_velocity}" soft_lower_limit="${arm_1_lower_limit * deg_to_rad  + arm_eps}"
        soft_upper_limit="${arm_1_upper_limit * deg_to_rad - arm_eps}" />
    </joint>


    <link name="${name}_2_link">
      <inertial>
        <origin xyz="-0.1032 0 ${0.0403 * reflect}" rpy="0 0 0" />
        <mass value="0.7941" />
        <inertia ixx="7.8558E-04" ixy="-2.0052E-07" ixz="${2.8139E-04 * reflect}"
          iyy="1.2374E-03" iyz="${-9.5016E-07 * reflect}"
          izz="1.2876E-03" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://tiago_sea_arm_description/meshes/arm/arm_2_link.STL"
            scale="1 1 ${reflect}" />
        </geometry>
        <material
          name="">
          <color
            rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://tiago_sea_arm_description/meshes/arm/arm_2_link_convex.STL"
            scale="1 1 ${reflect}" />
        </geometry>
      </collision>
    </link>

    <xacro:property name="arm_2_upper_limit"       value="${90.0 if tiago_dual == 1 else 90}"/>
    <xacro:property name="arm_2_lower_limit"       value="${-67.5 if tiago_dual == 1 else -90.0}"/>

    <joint name="${name}_2_joint" type="revolute">
      <origin xyz="0.13 -0.0483 ${-0.04* reflect}"
        rpy="${90 * reflect * deg_to_rad} 0 ${180 * deg_to_rad}" />
      <parent link="${name}_1_link" />
      <child link="${name}_2_link" />
      <axis xyz="0 0 ${1}" />
      <limit lower="${arm_2_lower_limit * deg_to_rad}" upper="${arm_2_upper_limit * deg_to_rad}" effort="${arm_2_max_effort}" velocity="${arm_2_max_velocity}" />
      <dynamics friction="${arm_friction}" damping="${arm_damping}"/>
      <safety_controller k_position="${arm_k_position}" k_velocity="${arm_k_velocity}" soft_lower_limit="${arm_2_lower_limit * deg_to_rad  + arm_eps}"
        soft_upper_limit="${arm_2_upper_limit * deg_to_rad - arm_eps}" />
    </joint>

    <link name="${name}_3_link">
      <inertial>
        <origin xyz="0.0141106542132395 0.0147731157720475 ${-0.129722816418797 * reflect}"
          rpy="0 0 0" />
        <mass value="0.926307323067338" />
        <inertia ixx="2.6873E-03" ixy="5.9313E-06" ixz="${6.9808E-05 * reflect}"
                 iyy="2.2624E-03" iyz="${2.1739E-04 * reflect}"
                 izz="7.2820E-04" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://tiago_sea_arm_description/meshes/arm/arm_3_link.STL"
            scale="1 1 ${reflect}" />
        </geometry>
        <material
          name="">
          <color
            rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://tiago_sea_arm_description/meshes/arm/arm_3_link_convex.STL"
            scale="1 1 ${reflect}" />
        </geometry>
      </collision>
    </link>

    <xacro:property name="arm_3_lower_limit"       value="${-45 if tiago_dual == 1 else -170}"/>
    <xacro:property name="arm_3_upper_limit"       value="${225 if tiago_dual == 1 else 170}"/>

    <joint name="${name}_3_joint" type="revolute">
     <origin xyz="-0.1549 0 ${0.05 * reflect}"
        rpy="0 ${90 * reflect * deg_to_rad} 0" />
      <parent link="${name}_2_link" />
      <child
        link="${name}_3_link" />
      <axis xyz="0 0 1" />
      <limit lower="${arm_3_lower_limit * deg_to_rad}" upper="${arm_3_upper_limit * deg_to_rad}"
        effort="${arm_3_max_effort}" velocity="${arm_3_max_velocity}" />
       <dynamics friction="${arm_friction}" damping="${arm_damping}"/>
      <safety_controller k_position="${arm_k_position}" k_velocity="${arm_k_velocity}"
        soft_lower_limit="${arm_3_lower_limit * deg_to_rad  + arm_eps}"
        soft_upper_limit="${arm_3_upper_limit * deg_to_rad - arm_eps}" />
    </joint>

    <link name="${name}_4_link">
      <inertial>
        <origin xyz="-0.02709 -0.0989 ${reflect * 0.0405}" rpy="0 0 0" />
        <mass value="0.8229" />
        <inertia ixx="1.3428E-03" ixy="-1.0575E-04" ixz="${8.8477E-05 * reflect}"
          iyy="8.2512E-04" iyz="${3.0671E-04 * reflect}"
          izz="1.3987E-03" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://tiago_sea_arm_description/meshes/arm/arm_4_link.STL"
            scale="1 1 ${reflect}" />
        </geometry>
        <material
          name="">
          <color
            rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://tiago_sea_arm_description/meshes/arm/arm_4_link_convex.STL"
            scale="1 1 ${reflect}" />
        </geometry>
      </collision>
    </link>

    <joint name="${name}_4_joint" type="revolute">
     <origin xyz="0.05 0.02 ${-0.1651 * reflect}"
        rpy="${90 * reflect * deg_to_rad} ${-25 * reflect * deg_to_rad} ${-90 * deg_to_rad}" />
      <parent
        link="${name}_3_link" />
      <child link="${name}_4_link" />
      <axis xyz="0 0 1" />
      <limit
        lower="${arm_4_joint_lb * deg_to_rad}" upper="${arm_4_joint_ub * deg_to_rad}" effort="${arm_4_max_effort}" velocity="${arm_4_max_velocity}" />
       <dynamics friction="${arm_friction}" damping="${arm_damping}"/>

      <safety_controller
        k_position="${arm_k_position}" k_velocity="${arm_k_velocity}" soft_lower_limit="${arm_4_joint_lb * deg_to_rad  + arm_eps}"
        soft_upper_limit="${arm_4_joint_ub * deg_to_rad - arm_eps}" />
    </joint>

    <link name="${name}_5_link">
      <inertial>
        <origin xyz="0 -0.0085 ${-0.1222 * reflect}" rpy="0 0 0" />
        <mass value="0.7489" />
        <inertia ixx="1.6544E-03" ixy="7.1315E-08" ixz="${5.9434E-07 * reflect}"
          iyy="1.8866E-03" iyz="${-1.9988E-05 * reflect}"
          izz="4.8515E-04" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://tiago_sea_arm_description/meshes/arm/arm_5_link.STL"
            scale="1 1 ${reflect}" />
        </geometry>
        <material
          name="">
          <color
            rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://tiago_sea_arm_description/meshes/arm/arm_5_link_convex.STL"
            scale="1 1 ${reflect}" />
        </geometry>
      </collision>
    </link>

    <joint name="${name}_5_joint" type="revolute">
     <origin xyz="-0.04738 -0.1489 ${0.05 * reflect}"
        rpy="${90 * reflect * deg_to_rad} 0 ${155 * deg_to_rad}" />
      <parent link="${name}_4_link" />
      <child
        link="${name}_5_link" />
      <axis xyz="0 0 1" />
      <limit
        lower="${arm_5_joint_lb * deg_to_rad}" upper="${arm_5_joint_ub * deg_to_rad}" effort="${arm_5_max_effort}" velocity="${arm_5_max_velocity}" />
       <dynamics friction="${arm_friction}" damping="${arm_damping}"/>

      <safety_controller
        k_position="${arm_k_position}" k_velocity="${arm_k_velocity}" soft_lower_limit="${arm_5_joint_lb * deg_to_rad  + arm_eps}"
        soft_upper_limit="${arm_5_joint_ub * deg_to_rad - arm_eps}" />
    </joint>

    <link name="${name}_6_link">
      <inertial>
        <origin xyz="0 -0.0996 ${0.0325 * reflect}" rpy="0 0 0" />
        <mass value="0.5745" />
        <inertia ixx="6.4972E-04" ixy="-2.8856E-07" ixz="${7.2616E-07 * reflect}"
          iyy="3.5431E-04" iyz="${1.3010E-04 * reflect}"
          izz="6.7431E-04" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://tiago_sea_arm_description/meshes/arm/arm_6_link.STL"
            scale="1 1 ${reflect}" />
        </geometry>
        <material
          name="">
          <color
            rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://tiago_sea_arm_description/meshes/arm/arm_6_link_convex.STL"
            scale="1 1 ${reflect}" />
        </geometry>
      </collision>
    </link>

    <joint name="${name}_6_joint" type="revolute">
     <origin xyz="0 -0.0395 ${-0.1651 * reflect}"
        rpy="${90 * reflect * deg_to_rad} 0 ${180 * deg_to_rad}" />
      <parent link="${name}_5_link" />
      <child
        link="${name}_6_link" />
      <axis xyz="0 0 1" />
      <limit
        lower="${arm_6_joint_lb * deg_to_rad}" upper="${arm_6_joint_ub * deg_to_rad}" effort="${arm_6_max_effort}" velocity="${arm_6_max_velocity}" />
       <dynamics friction="${arm_friction}" damping="${arm_damping}"/>

      <safety_controller
        k_position="${arm_k_position}" k_velocity="${arm_k_velocity}" soft_lower_limit="${arm_6_joint_lb * deg_to_rad  + arm_eps}"
        soft_upper_limit="${arm_6_joint_ub * deg_to_rad - arm_eps}" />
    </joint>

    <link name="${name}_7_link">
      <inertial>
        <origin xyz="0 0 0.0074" rpy="0 0 0" />
        <mass value="0.0465" />
        <inertia ixx="1.5042E-05" ixy="1.8536E-15" ixz="${1.2043E-14 * reflect}"
          iyy="1.5042E-05" iyz="${-2.3203E-14 * reflect}"
          izz="1.4089E-05" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://tiago_sea_arm_description/meshes/arm/arm_7_link.STL"
            scale="1 1 ${reflect}" />
        </geometry>
        <material
          name="">
          <color
            rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://tiago_sea_arm_description/meshes/arm/arm_7_link_convex.STL"
            scale="1 1 ${reflect}" />
        </geometry>
      </collision>
    </link>

    <joint name="${name}_7_joint" type="revolute">
     <origin xyz="0 -0.146 ${0.039 * reflect}"
        rpy="0 ${90 * reflect * deg_to_rad} ${90 * deg_to_rad}" />
      <parent link="${name}_6_link" />
      <child
        link="${name}_7_link" />
      <axis xyz="0 0 1" />
      <limit
        lower="${arm_7_joint_lb * deg_to_rad}" upper="${arm_7_joint_ub * deg_to_rad}" effort="${arm_7_max_effort}" velocity="${arm_7_max_velocity}" />
       <dynamics friction="${arm_friction}" damping="${arm_damping}"/>

      <safety_controller
        k_position="${arm_k_position}" k_velocity="${arm_k_velocity}" soft_lower_limit="${arm_7_joint_lb * deg_to_rad  + arm_eps}"
        soft_upper_limit="${arm_7_joint_ub * deg_to_rad - arm_eps}" />
    </joint>

    <!--***********************-->
    <!--        TOOL           -->
    <!--***********************-->
    <link name="${name}_tool_link">
      <inertial>
        <mass value="0.1" />
        <inertia ixx="8.33E-07" ixy="0.0" ixz="0.0" iyy="8.33E-07" iyz="0.0" izz="1.25E-06" />
      </inertial>
      <visual>
        <origin xyz="0.001 0 0" rpy="0 ${90.0 * deg_to_rad} 0" />
        <geometry>
          <cylinder radius="0.005" length="0.005"/>
        </geometry>
        <material name="LightGrey" />
      </visual>
      <collision>
        <origin xyz="0.001 0 0" rpy="0 ${90.0 * deg_to_rad} 0" />
        <geometry>
          <cylinder radius="0.005" length="0.005"/>
        </geometry>
      </collision>
    </link>

    <!-- TODO: get correct offset with and without ft -->
    <xacro:property name="tool_link_z_offset"           value="${ 0.046 if ft_sensor == 'ati' else 0.0573 }"/>
    <joint name="${name}_tool_joint" type="fixed">
      <parent link="${name}_7_link" />
      <child link="${name}_tool_link" />
      <origin xyz="0 0 ${-reflect * tool_link_z_offset}" rpy="${0.0 * deg_to_rad} ${90.0 * reflect * deg_to_rad} ${0 * deg_to_rad}" />
    </joint>

    
   <gazebo reference="${name}_1_link">
     <mu1>0.9</mu1>
     <mu2>0.9</mu2>
     <material>Gazebo/DarkGrey</material>
   </gazebo>
   <gazebo reference="${name}_2_link">
     <mu1>0.9</mu1>
     <mu2>0.9</mu2>
     <material>Gazebo/DarkGrey</material>
   </gazebo>
   <gazebo reference="${name}_3_link">
     <mu1>0.9</mu1>
     <mu2>0.9</mu2>
     <material>Gazebo/DarkGrey</material>
   </gazebo>
   <gazebo reference="${name}_4_link">
     <mu1>0.9</mu1>
     <mu2>0.9</mu2>
     <material>Gazebo/DarkGrey</material>
   </gazebo>
    <gazebo reference="${name}_5_link">
     <mu1>0.9</mu1>
     <mu2>0.9</mu2>
     <material>Gazebo/DarkGrey</material>
   </gazebo>
    <gazebo reference="${name}_6_link">
     <mu1>0.9</mu1>
     <mu2>0.9</mu2>
     <material>Gazebo/DarkGrey</material>
   </gazebo>
    <gazebo reference="${name}_7_link">
     <mu1>0.9</mu1>
     <mu2>0.9</mu2>
     <material>Gazebo/DarkGrey</material>
   </gazebo>

   <gazebo reference="${name}_1_joint">
      <implicitSpringDamper>1</implicitSpringDamper>
   </gazebo>
   <gazebo reference="${name}_2_joint">
      <implicitSpringDamper>1</implicitSpringDamper>
   </gazebo>
   <gazebo reference="${name}_3_joint">
      <implicitSpringDamper>1</implicitSpringDamper>
   </gazebo>
   <gazebo reference="${name}_4_joint">
      <implicitSpringDamper>1</implicitSpringDamper>
   </gazebo>
   <gazebo reference="${name}_5_joint">
      <implicitSpringDamper>1</implicitSpringDamper>
   </gazebo>
   <gazebo reference="${name}_6_joint">
      <implicitSpringDamper>1</implicitSpringDamper>
   </gazebo>
   <gazebo reference="${name}_7_joint">
      <implicitSpringDamper>1</implicitSpringDamper>
   </gazebo>
    
    <xacro:arm_simple_transmission name="${name}" number="1" reduction="1.0" offset_value="${arm_1_offset}"/>
    <xacro:arm_simple_transmission name="${name}" number="2" reduction="1.0" offset_value="${arm_2_offset}"/>
    <xacro:arm_simple_transmission name="${name}" number="3" reduction="1.0" offset_value="${arm_3_offset}"/>
    <xacro:arm_simple_transmission name="${name}" number="4" reduction="1.0" offset_value="${arm_4_offset}"/>
    <xacro:arm_simple_transmission name="${name}" number="5" reduction="1.0" offset_value="${arm_4_offset}"/>
    <xacro:arm_simple_transmission name="${name}" number="6" reduction="1.0" offset_value="${arm_4_offset}"/>
    <xacro:arm_simple_transmission name="${name}" number="7" reduction="1.0" offset_value="${arm_4_offset}"/>

  </xacro:macro>

</robot>